<div class="container mt-3">
    <div class="h1">Library</div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-items-center">
                        <th scope="row">1</th>
                        <td>Excalibur</td>
                        <td>Weapon</td>
                        <td><button class="btn btn-success">Add to Compare</button>
                            <button class="btn btn-primary">Details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>