<div class="container mt-3">
    <h1>Halaman Login</h1>

    <% if (msg.length != 0) { %>
        <div class="alert alert-success" role="alert">
            <%= msg %>
        </div>
    <% } %>

</div>

<div class="container mt-3" id="message"></div>

<div class="container mt-3 position-relative">
    <form class="position-absolute start-50 translate-middle-x border rounded-4 shadow p-3" style="width: 50vh;">
        <div class="mb-3">
            <label for="namauser" class="form-label">Nama User</label>
            <input type="text" class="form-control" id="namauser" aria-describedby="Nama User" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <p class="mt-3">
            Tidak punya akun? <a href="/daftar">Klik untuk daftar!</a>
        </p>
    </form>
</div>